# ignore pythom files
**__pycache__
**.pyc
**.DS_Store

# ignore folders
# backend/
output/
data/
old_scripts/
example/
hamnucret_data/
cluster_output/
temps/
# ignore egg-info directory
**.egg-info/

backend/

venv/
**.sif
*.lprof